td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  button {
    margin-left: 10px;
  }
  #title{
    font-size: 80px;
    font-weight: 800;
    padding-top: 50px;
    width: max-content;
    margin:auto;
    font-family: 'Poppins','Open Sans', sans-serif;
  }
  
  .board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
 }
 